git+https://github.com/Raffaelbdl/flax_rl.git@ace73a955f8c40492496366d603b2a3385338ae0
git+https://github.com/Raffaelbdl/jrd_extensions
git+https://github.com/Raffaelbdl/distrax_flax

matplotlib
minigrid
opencv-python
scikit-learn
tqdm